@import "https://fonts.googleapis.com/css?family=Niconne|Poppins:300,400,500,600,700,800&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
body {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #747e88;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  text-decoration: none;
}
i,
span,
a {
  display: inline-block;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: niconne, cursive;
  font-weight: 700;
  color: #38424d;
  margin: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #747e88;
  margin: 0;
}
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.slick-slide {
  outline: 0;
}
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #d59a57;
  padding: 0 40px;
  font-size: 16px;
  line-height: 46px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #d59a57;
  -webkit-box-shadow: 0 15px 40px 0 rgba(213, 154, 87, 0.34);
  -moz-box-shadow: 0 15px 40px 0 rgba(213, 154, 87, 0.34);
  box-shadow: 0 15px 40px 0 rgba(213, 154, 87, 0.34);
}
.main-btn:hover {
  background-color: #fff;
  color: #d59a57;
  border-color: #d59a57;
}
.main-btn.main-btn-2 {
  background-color: #fff;
  color: #d59a57;
  border-color: #d59a57;
}
.main-btn.main-btn-2:hover {
  background-color: #d59a57;
  border-color: #d59a57;
  color: #fff;
}
.section_title .title {
  font-size: 45px;
  color: #d59a57;
}
@media (max-width: 767px) {
  .section_title .title {
    font-size: 34px;
  }
}
.section_title img {
  margin-top: 10px;
}
.section_title p {
  font-size: 30px;
  line-height: 38px;
  color: #38424d;
}
@media (max-width: 767px) {
  .section_title p {
    font-size: 24px;
  }
}
.section_title .text {
  font-size: 16px;
  line-height: 26px;
  color: #747e88;
  margin-top: 30px;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #d59a57 #d59a57 #fcf4ec;
  border-radius: 50%;
  border-width: 6px;
}

.videoCenter {
  display: flex;
  align-content: center;
  justify-content: center;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #fcf4ec;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #fcf4ec;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: rgba(255, 255, 255, 0.07);
}
.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sticky .navbar {
  padding: 10px 0;
}
.navbar {
  padding: 15px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  width: 85px;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
  font-family: poppins, sans-serif;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #38424d;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #38424d;
  }
}
.navbar-nav .nav-item.active > a span,
.navbar-nav .nav-item:hover > a span {
  opacity: 1;
  visibility: visible;
  width: 60%;
}
.navbar-nav .nav-item.active > a span::before,
.navbar-nav .nav-item:hover > a span::before {
  width: 20%;
}
.navbar-nav .nav-item.active > a span::after,
.navbar-nav .nav-item:hover > a span::after {
  width: 15%;
}
.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
.navbar-nav .nav-item .sub-menu li {
  display: block;
}
.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #38424d;
}
.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #d59a57;
}
.navbar-nav .sub-nav-toggler {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #38424d;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #38424d;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #38424d;
  border-bottom: 1px solid #38424d;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}
.sticky .navbar-toggler .toggler-icon {
  background-color: #38424d;
}
.sticky .navbar-nav .nav-item a {
  color: #38424d;
}
.sticky .navbar-nav .nav-item.active > a,
.sticky .navbar-nav .nav-item:hover > a {
  color: #d59a57;
}
.single_slider {
  height: 800px;
  position: relative;
  background-image: url("../images/light.png");
}
@media only screen and (min-width: 1400px) {
  .single_slider {
    height: 900px;
  }
}
@media (max-width: 767px) {
  .single_slider {
    height: 600px;
  }
}
.single_slider::before {
  position: absolute;
  content: "";
  background: #a73737;
  background-image: url("../images/light.png");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.slider_content {
  padding-top: 80px;
}
.firstContent {
  font-size: 50px !important;

  font-family: "Estonia", cursive !important;
  margin-bottom: 18px;
  color: #fff;
}
.slider_content .slider_sub_title {
  font-size: 40px;
  font-family: "Estonia", cursive !important;
  font-weight: 600;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content .slider_sub_title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .slider_content .slider_sub_title {
    font-size: 30px;
  }
}
.slider_content .slider_title {
  font-size: 112px;
  color: #fff;
  margin-top: 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_content .slider_title {
    font-size: 102px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content .slider_title {
    font-size: 82px;
  }
}
@media (max-width: 767px) {
  .slider_content .slider_title {
    font-size: 48px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider_content .slider_title {
    font-size: 60px;
  }
}
.slider_content .slider_title span {
  display: contents;
  color: #d59a57;
}
.slider_content .location {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-top: 35px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content .location {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .slider_content .location {
    font-size: 18px;
  }
}
.slider_content p {
  font-size: 25px;
  color: #fff;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .slider_content p {
    font-size: 16px;
  }
}
.slider_content p img {
  display: inline-block;
}
@media (max-width: 767px) {
  .slider_content p img {
    width: 40px;
  }
}
.slider-active .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-active .slick-dots li {
  display: inline-block;
  margin: 0 3px;
}
.slider-active .slick-dots li button {
  width: 15px;
  height: 15px;
  background: 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-active .slick-dots li.slick-active button {
  background-color: #fff;
  border-color: #707070;
}
.slider-active .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}
.slider-active .slick-arrow i {
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.58);
  font-size: 26px;
  color: rgba(255, 255, 255, 0.58);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.slider-active .slick-arrow:hover i {
  color: #d59a57;
  border-color: #d59a57;
}
.slider-active .slick-arrow.next {
  right: 0;
  left: auto;
}
.slider-active:hover .slick-arrow {
  left: 30px;
  opacity: 1;
}
@media only screen and (min-width: 1400px) {
  .slider-active:hover .slick-arrow {
    left: 130px;
  }
}
.slider-active:hover .slick-arrow.next {
  left: auto;
  right: 30px;
}
@media only screen and (min-width: 1400px) {
  .slider-active:hover .slick-arrow.next {
    right: 130px;
  }
}
.single_couple .couple_image {
  overflow: hidden;
  border-radius: 10px;
}
.single_couple .couple_image img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_couple .couple_content {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  -moz-box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  padding: 30px;
  border-radius: 10px;
  position: relative;
  margin-top: -70px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_couple .couple_content {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .single_couple .couple_content {
    padding: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_couple .couple_content {
    padding: 30px;
  }
}
.single_couple .couple_content .shape {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  z-index: -1;
  opacity: 0.26;
}
.single_couple .couple_content .couple_name {
  font-size: 40px;
  color: #d59a57;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_couple .couple_content .couple_name {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .single_couple .couple_content .couple_name {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_couple .couple_content .couple_name {
    font-size: 40px;
  }
}
.single_couple .couple_content p {
  font-weight: 300;
  margin-top: 25px;
}
.single_couple .couple_content .social {
  margin-top: 30px;
}
.single_couple .couple_content .social li {
  display: inline-block;
  margin: 0 3px;
}
.single_couple .couple_content .social li a {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #747e88;
  color: #747e88;
  font-size: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_couple .couple_content .social li a:hover {
  border-color: #d59a57;
  background-color: #d59a57;
  color: #fff;
}
.single_couple:hover .couple_image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.single_couple:hover .couple_content {
  -webkit-box-shadow: 0 3px 50px 0 rgba(177, 177, 177, 0.3);
  -moz-box-shadow: 0 3px 50px 0 rgba(177, 177, 177, 0.3);
  box-shadow: 0 3px 50px 0 rgba(177, 177, 177, 0.3);
}
.coming_soon_area {
  /* background-color: #fcf4ec; */
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.coming_soon_shape_1 {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
}
.coming_soon_shape_1 img {
  width: 130px;
  opacity: 0.31;
}
.thoranam {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.coming_soon_shape_2 {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -1;
}
.coming_soon_shape_2 img {
  width: 130px;
  opacity: 0.31;
}
.coming_soon_count .single_count {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #d59a57;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .coming_soon_count .single_count {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.coming_soon_count .single_count::before {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
}
@media (max-width: 767px) {
  .coming_soon_count .single_count::before {
    top: 5px;
    left: 5px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count::before {
    top: 10px;
    left: 10px;
  }
}
.coming_soon_count .single_count .count_content .count {
  font-size: 60px;
  font-family: niconne, cursive;
  color: #fff;
  line-height: 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 46px;
    line-height: 50px;
  }
}
.coming_soon_count .single_count .count_content .times {
  font-size: 25px;
  color: #fff;
  line-height: 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 18px;
    line-height: 30px;
  }
}
.love_wrapper {
  position: relative;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .love_wrapper {
    margin-top: 0;
  }
}
.love_wrapper::before {
  width: 1px;
  height: 100%;
  position: absolute;
  content: "";
  background-color: #d59a57;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .love_wrapper::before {
    display: none;
  }
}
.single_love .love_content {
  width: 45%;
}
@media (max-width: 767px) {
  .single_love .love_content {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_content .love_title {
  font-size: 30px;
  color: #d59a57;
}
.single_love .love_content p {
  margin-top: 30px;
  font-weight: 300;
}
.single_love .love_date {
  width: 10%;
  text-align: center;
}
@media (max-width: 767px) {
  .single_love .love_date {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_date p {
  width: 40px;
  position: relative;
  color: #d59a57;
  border: 1px solid #d59a57;
  border-radius: 50px;
  font-size: 14px;
  padding: 2px;
  position: relative;
  line-height: 35px;
  padding-bottom: 32px;
  padding-top: 62px;
  background-color: #fff;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .single_love .love_date p {
    width: auto;
    height: 40px;
    padding-left: 62px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.single_love .love_date p i {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #d59a57;
  border-radius: 50%;
  color: #d59a57;
  position: absolute;
  top: -1px;
  left: -1px;
}
.single_love .love_image {
  width: 45%;
}
@media (max-width: 767px) {
  .single_love .love_image {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_image img {
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_love .love_image img {
    height: 415px;
    object-fit: cover;
    object-position: center;
  }
}
.gallery_wrapper {
  margin-top: 30px;
}
.single_gallery {
  position: relative;
}
.single_gallery .gallery_image img {
  width: 100%;
}
.single_gallery .gallery_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single_gallery .gallery_content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(56, 66, 77, 0.85);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_gallery .gallery_content .gallery_icon {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.single_gallery .gallery_content .gallery_icon li {
  display: inline-block;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}
.single_gallery .gallery_content .gallery_icon li:first-child {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.single_gallery .gallery_content .gallery_icon li:last-child {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.single_gallery .gallery_content .gallery_icon li a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #d59a57;
  border: 2px solid #d59a57;
  border-radius: 50%;
}
.single_gallery:hover .gallery_content::before {
  height: 100%;
}
.single_gallery:hover .gallery_content .gallery_icon li {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  visibility: visible;
}
.single_event .event_image {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.single_event .event_image img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_event .event_content {
  padding: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(177, 177, 177, 0.35);
  -moz-box-shadow: 0 3px 6px 0 rgba(177, 177, 177, 0.35);
  box-shadow: 0 3px 6px 0 rgba(177, 177, 177, 0.35);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_event .event_content .date {
  font-size: 16px;
  color: #747e88;
}
.single_event .event_content .event_title a {
  font-size: 30px;
  color: #38424d;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_event .event_content .event_title a:hover {
  color: #d59a57;
}
.single_event .event_content p {
  margin-top: 15px;
}
.single_event .event_content .more {
  color: #747e88;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_event .event_content .more:hover {
  color: #d59a57;
}
.single_event:hover .event_image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.single_event:hover .event_content {
  -webkit-box-shadow: 0 3px 16px 0 rgba(177, 177, 177, 0.35);
  -moz-box-shadow: 0 3px 16px 0 rgba(177, 177, 177, 0.35);
  box-shadow: 0 3px 16px 0 rgba(177, 177, 177, 0.35);
}
.testimonial_area {
  background-color: #fcf4ec;
  position: relative;
  overflow: hidden;
  z-index: 9;
}
.testimonial_shape_1 {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
}
.testimonial_shape_1 img {
  width: 130px;
  opacity: 0.31;
}
.testimonial_shape_2 {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -1;
}
.testimonial_shape_2 img {
  width: 130px;
  opacity: 0.31;
}
.single_testimonial .testimonial_author img {
  border-radius: 50%;
  padding: 5px;
  -webkit-box-shadow: 0 3px 13px 0 rgba(213, 154, 87, 0.35);
  -moz-box-shadow: 0 3px 13px 0 rgba(213, 154, 87, 0.35);
  box-shadow: 0 3px 13px 0 rgba(213, 154, 87, 0.35);
  display: inline-block;
  background-color: #fff;
}
.single_testimonial .testimonial_content .author_name {
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #38424d;
  margin-top: 20px;
}
.single_testimonial .testimonial_content .sub_title {
  color: #747e88;
  margin-top: 5px;
}
.testimonial_wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  left: -150px;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial_wrapper .slick-arrow {
    left: -80px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial_wrapper .slick-arrow {
    left: -45px;
  }
}
.testimonial_wrapper .slick-arrow i {
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid rgba(116, 126, 136, 0.58);
  font-size: 26px;
  color: rgba(116, 126, 136, 0.58);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial_wrapper .slick-arrow i {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial_wrapper .slick-arrow i {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 20px;
  }
}
.testimonial_wrapper .slick-arrow:hover i {
  color: #d59a57;
  border-color: #d59a57;
}
.testimonial_wrapper .slick-arrow.next {
  right: -150px;
  left: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial_wrapper .slick-arrow.next {
    right: -80px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial_wrapper .slick-arrow.next {
    right: -45px;
  }
}
p.form-message.success,
p.form-message.error {
  font-size: 16px;
  color: #333;
  background: #ddd;
  padding: 10px 15px;
  margin-top: 15px;
  margin-left: 15px;
}
p.form-message.success.form-message.error,
p.form-message.error.form-message.error {
  color: red;
}
.contact_wrapper {
  padding: 80px 110px;
  -webkit-box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  -moz-box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  box-shadow: 0 3px 32px 0 rgba(177, 177, 177, 0.16);
  background-color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact_wrapper {
    padding: 30px 50px;
  }
}
@media (max-width: 767px) {
  .contact_wrapper {
    padding: 30px;
  }
}
.single_form {
  margin-top: 30px;
}
.single_form textarea,
.single_form input {
  padding: 0 25px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  height: 55px;
  width: 100%;
  color: #747e88;
  width: 100%;
}
.single_form textarea {
  padding-top: 15px;
  resize: none;
  height: 185px;
}

.bg_color {
  background-color: #fcf4ec;
}

.footer_area {
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 100%;
}
.footer_shape_1 {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
}
.footer_shape_1 img {
  width: 130px;
  opacity: 0.31;
}
@media (max-width: 767px) {
  .footer_widget .footer_logo a img {
    width: 160px;
  }
}
.footer_widget .footer_title {
  margin-top: 30px;
}
.footer_widget .footer_title .title {
  font-size: 52px;
  color: #2f4d6f;
}
@media (max-width: 767px) {
  .footer_widget .footer_title .title {
    font-size: 38px;
  }
}
.footer_widget .footer_title .title span {
  color: #d59a57;
}
.footer_widget .footer_menu {
  margin-top: 30px;
}
.footer_widget .footer_menu li {
  display: inline-block;
  margin: 0 20px;
}
.footer_widget .footer_menu li a {
  font-size: 16px;
  color: #38424d;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer_widget .footer_menu li a:hover {
  color: #d59a57;
}
.footer_copyright {
  border-top: 2px solid #d59a57;
  padding: 40px 0;
}
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #d59a57;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.back-to-top:hover {
  color: #fff;
  background-color: #d59a57;
}
:root {
  --v1: #be91c6;
  --v2: #8a65cc;
  --v3: #5e30d9;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  --s1: #fea798;
  --s2: #ff846e;
  --cloud: #fea798;
}
*,
*:before,
*:after {
  //animation:none!important;
}
.landscape:after,
.landscape:before,
.landscape *,
.landscape *:after,
.landscape *:before {
  position: absolute;
}

.front {
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.landscape {
  height: 100vh;
  background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.mountain {
  border-radius: 180% 80% 0% 0%/60vmin 60vmin 0% 0%;
  width: 40vmin;
  height: 30vmin;
  bottom: 50%;
  left: -10vmin;
  background: var(--s1);
  background-image: linear-gradient(var(--v1), var(--v2) 30%, var(--v3));
  box-shadow: inset -10px 0 10px -10px var(--s1);
}
.mountain::before {
  content: "";
  bottom: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom center;
  transform: scaleX(1) scaleY(-0.6);
  filter: blur(3px);
}

.mountain-2 {
  left: 5vmin;
  height: 15vmin;
  width: 40vmin;
  box-shadow: inset -15px 0 10px -14px var(--s1);
  border-radius: 120% 50% 0% 0%/25vmin 25vmin 0% 0%;
  background-image: linear-gradient(var(--v3), var(--v4));
}

.mountain-3 {
  border-radius: 80% 0% 0 0/100% 100% 0 0;
  right: -85vmin;
  width: 100vmin;
  left: auto;
  height: 12vmin;
  color: var(--v3);
  background-image: linear-gradient(var(--s1), var(--v4));
  box-shadow: inset 15px 0 10px -10px var(--s1);
}

.mountain-3:after {
  content: "";
  border-radius: 60% 0 0 0/100% 0 0 0;
  background: inherit;
  width: 100%;
  height: 0;
  bottom: 0;
  right: 20%;
}

.lotus {
  width: 10vmin;
  height: 5vmin;
  background: conic-gradient(
    var(--v3) 0deg 40deg,
    var(--transparentv3) 50deg 70deg,
    var(--v3) 80deg
  );
  border-radius: 50%;
}

.lotus-1 {
  bottom: 10vmin;
  right: 5vmin;
  width: 20vmin;
}

.lotus-2 {
  bottom: 20vmin;
  right: 15vmin;
  height: 3vmin;
  transform: skew(-10deg);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.lotus-3 {
  bottom: 10vmin;
  right: 35vmin;
  transform: rotate(180deg) skew(-20deg);
  opacity: 0.8;
  width: 15vmin;
}

.cloud {
  width: 80vmin;
  height: 6vmin;
  background: currentcolor;
  color: var(--cloud);
  top: 24vmin;
  left: 20vmin;
  border-radius: 50%;
  box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor,
    -25vmin 0 0 -0.6vmin currentcolor;
  opacity: 0.3;
  transform: translate3d(-150vmin, 0, 0);
  animation: clouds 120s infinite;
  animation-delay: -10s;
}
@keyframes clouds {
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(150vmin, 0, 0);
  }
}
.cloud-1 {
  left: 60vmin;
  top: 15vmin;
  opacity: 0.2;
  filter: blur(1px);
  animation-delay: 0;
  animation-duration: 100s;
}

.water {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#fea79855, var(--v2));
  overflow: hidden;
  box-shadow: inset 0 1px 4px -3px white;
}

.stone {
  bottom: -5vh;
  left: 0;
  height: 20vmin;
  width: 40vmin;
  background: var(--v4);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0% 200% 0 0/0% 200%;
}
.stone:after {
  content: "";
  background: var(--v3);
  width: 100%;
  height: 100%;
  right: -15%;
  border-radius: inherit;
  z-index: -1;
  transform: scaleX(1.3) skew(10deg);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.4);
}

.grass {
  height: 40vmin;
  width: 10vmin;
  border-radius: 0 60% 0 0/0 100% 0 0;
  bottom: 0;
  border-right: 5px solid var(--v4);
  box-shadow: 1px 0 0 var(--s1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--s2))
    drop-shadow(-4.5vmin 10vmin 0 var(--v3));
}

.grass-1 {
  left: 14vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
  box-shadow: 2px 0 0 var(--v4);
  border-color: var(--v3);
  filter: drop-shadow(-1vmin 5vmin 0 var(--v3))
    drop-shadow(-80vmin 5vmin 0 var(--v4));
}

.grass-2 {
  right: 0;
  left: auto;
  height: 20vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
}

.sun {
  background: white;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  left: calc(60% - 10vmin);
  top: 100%;
  transform: translate3d(0, 0, 0);
  animation: rise 20s infinite;
  box-shadow: 0 0 10px white;
}
.reed {
  height: 40vmin;
  width: 0.5vmin;
  bottom: 0;
  left: 10vmin;
  color: var(--v4);
  background: currentColor;
  transform-origin: bottom center;
  transform: rotate(4deg);
  box-shadow: inset -1px 0 0 var(--s2), -6vmin 3vmin 0 0, 80vmin 0 0 0;
  animation: verticalise 20s infinite;
}
.reed-1 {
  color: var(--s2);
  left: 15vmin;
  height: 50vmin;
  bottom: -5vmin;
  transform: rotate(-2deg);
  animation: verticalise-1 20s infinite;
  box-shadow: inset -1px 0 0 var(--s1), 6vmin 13vmin 0 0 var(--s1),
    80vmin 10vmin 0 0 var(--v3);
}
.reed:after {
  content: "";
  width: 1.5vmin;
  height: 10vmin;
  background: currentcolor;
  border-radius: 0.75vmin;
  top: 0;
  left: -0.5vmin;
  box-shadow: inherit;
}
@keyframes verticalise {
  0%,
  10% {
    transform: rotate(4deg);
  }
  30%,
  70% {
    transform: rotate(0);
  }
}
@keyframes verticalise-1 {
  0%,
  10% {
    transform: rotate(-2deg);
  }
  45%,
  70% {
    transform: rotate(0) translateY(-6vmin);
  }
}
@keyframes rise {
  100% {
    transform: translate3d(0, -100vh, 20vmin);
  }
}
@keyframes rise-reflection {
  30% {
    opacity: 0;
    transform: translate3d(0, 5vmin, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 80vmin, 0);
  }
}
.sun-container {
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.sun-container-1:after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(circle at 60% 100%, var(--s2), transparent);
  animation: fade 20s infinite;
  mix-blend-mode: color-burn;
}

@keyframes fade {
  10% {
    opacity: 1;
  }
  30%,
  70% {
    opacity: 0;
  }
}
.sun-container-reflection {
  top: 50%;
  background: radial-gradient(circle at 60% 0%, var(--s2), transparent);
}
.sun-container-reflection .sun {
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  box-shadow: none;
  filter: blur(5px);
  opacity: 1;
  top: 0;
  transform: translate3d(0, -20vmin, 0);
  animation-name: rise-reflection;
}

.light {
  height: 0.5vmin;
  width: 20vmin;
  background: white;
  left: 20%;
  right: 0;
  margin: auto;
  top: calc(50% + 1vmin);
  animation: light 20s infinite;
  opacity: 0;
  transform: scaleX(0.1) translate3d(0%, 0, 0);
  border-radius: 0.25vh;
  filter: blur(1px);
}

@-webkit-keyframes light {
  5% {
    opacity: 1;
    transform: scaleX(1);
  }
  10% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(5%, 0, 0);
  }
  15% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(-5%, 0, 0);
  }
  20% {
    opacity: 0;
    transform: scaleX(0.1) translate3d(0, 0, 0);
  }
}
@keyframes light {
  5% {
    opacity: 1;
    transform: scaleX(1);
  }
  10% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(5%, 0, 0);
  }
  15% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(-5%, 0, 0);
  }
  20% {
    opacity: 0;
    transform: scaleX(0.1) translate3d(0, 0, 0);
  }
}
.light-1 {
  top: calc(50% + 2vmin);
  animation-delay: 0.5s;
}

.light-2 {
  top: calc(50% + 3vmin);
  width: 18vmin;
  animation-delay: 1s;
}
.light-3 {
  top: calc(50% + 4vmin);
  width: 18vmin;
  animation-delay: 1.5s;
}
.light-4 {
  top: calc(50% + 5vmin);
  width: 16vmin;
  animation-delay: 2s;
}
.light-5 {
  top: calc(50% + 8vmin);
  width: 14vmin;
  animation-delay: 2.5s;
}
.light-6 {
  top: calc(50% + 9vmin);
  width: 10vmin;
  animation-delay: 3s;
}
.light-7 {
  top: calc(50% + 7vmin);
  width: 12vmin;
  animation-delay: 3.5s;
}

.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid var(--s1);
  box-shadow: 0 0 2px var(--s1);
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}

.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}

.splash-4 {
  bottom: 5vmin;
  left: auto;
  bottom: 15vmin;
  right: -2vmin;
}

@keyframes splash {
  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}
